@font-face {
  font-family: 'social_media';
  src:  url('fonts/social_media.eot?ib2fyn');
  src:  url('fonts/social_media.eot?ib2fyn#iefix') format('embedded-opentype'),
    url('fonts/social_media.ttf?ib2fyn') format('truetype'),
    url('fonts/social_media.woff?ib2fyn') format('woff'),
    url('fonts/social_media.svg?ib2fyn#social_media') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'social_media' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bitbucket:before {
  content: "\e905";
}
.icon-checkmark:before {
  content: "\e900";
}
.icon-checkmark2:before {
  content: "\e901";
}
.icon-cancel:before {
  content: "\e902";
}
.icon-cancel2:before {
  content: "\e903";
}
.icon-graduate:before {
  content: "\e904";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-coin-euro:before {
  content: "\e93c";
}
.icon-coin-pound:before {
  content: "\e93d";
}
.icon-coin-yen:before {
  content: "\e93e";
}
.icon-lifebuoy:before {
  content: "\e941";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-map:before {
  content: "\e94b";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-clock2:before {
  content: "\e94f";
}
.icon-bubbles3:before {
  content: "\e96f";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-spinner6:before {
  content: "\e97f";
}
.icon-spinner7:before {
  content: "\e980";
}
.icon-key2:before {
  content: "\e98e";
}
.icon-bug:before {
  content: "\e999";
}
.icon-leaf:before {
  content: "\e9a4";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-man:before {
  content: "\e9dc";
}
.icon-woman:before {
  content: "\e9dd";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-happy2:before {
  content: "\e9e0";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-smile2:before {
  content: "\e9e2";
}
.icon-sad:before {
  content: "\e9e5";
}
.icon-sad2:before {
  content: "\e9e6";
}
.icon-evil:before {
  content: "\e9ef";
}
.icon-evil2:before {
  content: "\e9f0";
}
.icon-shocked:before {
  content: "\e9f1";
}
.icon-shocked2:before {
  content: "\e9f2";
}
.icon-frustrated:before {
  content: "\e9ff";
}
.icon-frustrated2:before {
  content: "\ea00";
}
.icon-crying:before {
  content: "\ea01";
}
.icon-crying2:before {
  content: "\ea02";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-amazon:before {
  content: "\ea87";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss2:before {
  content: "\ea9c";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-vimeo2:before {
  content: "\eaa1";
}
.icon-flickr4:before {
  content: "\eaa6";
}
.icon-github:before {
  content: "\eab0";
}
.icon-wordpress:before {
  content: "\eab4";
}
.icon-blogger2:before {
  content: "\eab8";
}
.icon-tumblr2:before {
  content: "\eaba";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-reddit:before {
  content: "\eac6";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-stackoverflow:before {
  content: "\ead0";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-yelp:before {
  content: "\ead7";
}
.icon-paypal:before {
  content: "\ead8";
}

